<!doctype html>
<html ng-app="cc-example" ng-strict-di>
<head>
    <title>CC-Combo-Breaker</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="lib/combo-breaker.css" />
    <link rel="stylesheet" href="example.css" />
</head>
<body>
    <div class="example-wrapper" ng-controller="ExampleController">
        <combobreaker list="states" ng-model="exampleModel" strict="true" placeholder="State"></combobreaker>

        <div class="test">exampleModel: {{exampleModel}}</div>

        <br>
        <button type="button" ng-click="test()">Change value</button>
        <br><br>
        <button type="button" ng-click="bogus()">Bogus value</button>
    </div>

    <script src="lib/jquery.js"></script>
    <script src="lib/angular.js"></script>
    <script src="lib/combo-breaker.min.js"></script>
    <script src="example.js"></script>
</body>
</html>
